.scroll-auto-hide::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* 스크롤 중일 때만 보이게 */
.scroll-auto-hide:hover::-webkit-scrollbar {
  width: 4px;
}

.scroll-auto-hide:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
